{% extends "base.html" %}

{% load static %}
{% block title%}
        About Us
{% endblock title %}

{% block sidenav %}
  {% for item in item_list %}
    <li>
      <a href="{{item.link}}">{{item.item}}</a>
    </li>
  {% endfor %}
{% endblock sidenav %}

{% block content %}
  <div style="margin-left: 25px; color: #009900;">
  <h1>About Us</h1>
  <p>
    Welcome to our book exchange community! The founders of our platform,
    <b>Paul El-Hosni, Nicholas Gochi, Matthew Gutierrez, Daniel Hernandez, Abraham Limon,
    and Francisco Sanchez</b>, are a driven group of computer science students at CSULA.
  </p>
  <p>
    Our website, which is committed to encouraging a love of reading and knowledge sharing,
    enables users to easily upload their books and associated prices, establishing a book exchange.
    Discover a wide library which promotes story and idea exchange by allowing all types of
    books to be easily accessed by a simple search.
  </p>
  <p>
    Come together with us as we create a community that values the joy of reading and the ability to
    interact through the exchange of books.
  </p>
  </div>
{% endblock content %}